
body {
  font-family: Arial, sans-serif;
  background-color: #f5f2ee;
}

header {
  background-image: linear-gradient(rgba(86, 149, 209, 0.694),rgba(0,0,0,.6));
}

.card-title {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .card-title {
    font-size: 1.1rem;
  }
}

@media (min-width: 992px) {
  .card-title {
    font-size: 1.2rem;
  }
}
